body {
  font-family: "Lato", sans-serif;
}


h1 {
  font-weight: 100;
  font-size: 56px;
}


h3,
h4 {
  font-weight: 300;
}


h3 {
  color: #bcbcbc;
  font-size: 36px;
  padding-left: 10px;
}


h4 {
  font-size: 21px;
}

/* Header */
#logo {
  max-height: 130px;
  max-width: 130px;
}

/* Featured Work Section */
#featured-work,
#featured-work a {
  color: #676857;
}


#featured-work h2 {
  text-transform: uppercase;
}


/* Bootstrap Navbar */
/* Removed some of the default bootstrap styling and applied my own */
nav.navbar.navbar-default {
  background: none;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #bcbcbc;
  color: #bcbbbb;
  text-transform: uppercase;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
  background: none;
  color: #f8981c;
}
